nav {
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    background-color:  lightblue;
    height: auto;
    font-family: 'Sanchez', serif, cursive;
  }
  
  a {
    color: #070000;
    font-size: 2.6rem;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 10px 0;
    width: 33.33%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
  }

  .alignLeft{
    text-align: left;
    padding-left: 1%;
  }

  .alignRight{
    color: black;
    text-align: right;
    padding-right: 1%;
    font-size: 2.2rem;
  }
  .incorrect
  {
    color:red;
    font-size: 30px;
    animation: shake 0.3s;
    animation-iteration-count: 1;
  }
  .correct{
    color:green;
    font-size: 30px;
  }
  @keyframes shake {
    0% { transform: translate(5px, 0px) rotate(0deg); }
    10% { transform: translate(-5px, 0px) rotate(0deg); }
    20% { transform: translate(5px, 0px) rotate(0deg); }
    30% { transform: translate(-5px, 0px) rotate(0deg); }
    40% { transform: translate(5px, 0px) rotate(0deg); }
    50% { transform: translate(-5px, 0px) rotate(0deg); }
    60% { transform: translate(5px, 0px) rotate(0deg); }
    70% { transform: translate(-5px, 0px) rotate(0deg); }
    80% { transform: translate(5px, 0px) rotate(0deg); }
    90% { transform: translate(-5px, 0px) rotate(0deg); }
    100% { transform: translate(5px, 0px) rotate(0deg); }
}